#formvip {
    background-color: black;
    padding: 6% 6% 6% 6%;
    margin-left: 13px;
    margin-top: 60px;
}
#formVipIndex{
    background-color: black;
    padding: 5% 5% 5% 5%;
}

#emailvip {
    text-align: center;

}
#text{
    color: white; 
    font-size: 20px;
}
#listavip {
    color: black;
    background-color: #ffef00;
    border: none;
    border-radius: 50px;
}

#textolistavipinscreva {
    color: white;
    font-size: 20px;
}
#textolistavipinscrevaIndex {
    color: white;
    font-size: 16px;
}
#textolistavip {
    color: yellow; 
    font-family: Arial;
    font-size: 25px;
}
#textobaixar{
     color: yellow; 
    font-family: Arial;
    font-size: 35px;
}
#textolistabaixarinscreva {
    color: white;
    font-size: 20px;
    font-family: arial;
}