.container-fluid {
        padding: 0%;
    }
    
    #row {
        margin: 0%;
    }
    
    .col-sd-12,
    .col-md-12 {
        padding: 0%;
    }    
    
    /*menu*/
    
    #borda{
    border-radius: 3rem;
        border: 1.5px solid yellow;
        margin: 10px;
     padding: 10px;
     color: yellow;
     cursor: pointer;
}
    
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    
    color: yellow;
    font-size: 20px;
    margin: 30px;
    
    
}
.navbar-light .navbar-nav .nav-link {
    color: yellow;
        font-size: 20px;
            margin: 50px;


}
footer {
        background-color: black;
        color: white;
        font-family: Arial;
        text-align: center;
    }