#formvip {
    background-color: black;
    padding: 5% 2% 5% 2%;
    margin-left: 25px;
    margin-top: 60px;
}

#emailvip {
    text-align: center;

}
#text{
    color: white; 
    font-size: 20px;
}
#listavip {
    color: black;
    background-color: #ffef00;
    border: none;
    border-radius: 50px;
}

#textolistavipinscreva {
    color: white;
}

#textolistavip {
    color: yellow; 
    font-family: Arial;
    font-size: 25px;
}