.ContainerImagem {
    width: 500px;
    ;
    margin: auto;
    position: relative;
    color: #fff;
}

.ContainerImagem img {
    width: 100%;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}
#emailvipsaida{
    color:white;
}

.baixoEsquerda {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    padding: 10px;
}

.baixoEsquerda-criativo {
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    padding: 10px;
}
#erro{
    color: white;
}

.topoEsquerda {
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

.topoDireita {
    top: 0;
    right: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

.baixoDireita {
    position: absolute;
    bottom: 35px;
    right: 110px;
    text-align: center;
    padding: 10px;
}

.textoimagem {
    position: absolute;
    top: 80% !important;
    left: 2% !important;
}

.textoimagem-criativo {
    position: absolute;
    top: 88% !important;
    left: 2% !important;
}

.botaoimagem {
    position: absolute;
    top: 80% !important;
    left: 70% !important;
}

.imagemsejoga {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/1.jpg);
    max-width: 450px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.imagemGrafico {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/artigo.jpg);
    max-width: 450px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.imagemGoogle {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/Slid.png);
    max-width: 450px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.navbar-toggler {
    padding: .45rem .75rem;
    font-size: 1.25rem;
    line-height: 0;
    background-color: #ffef00;
    border: white;
    border-radius: .20rem;
}

#imagem {
    width: 100%;
}

#texto {
    position: absolute;
    margin-top: -150px;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

#botao {
    position: absolute;
    margin-top: 0px;
    padding: 1px 13px 1px 13px;
    font-size: 17px;
    border: #ffef00;
}

hr {
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    background-color: white;
}

.btn-secondary {
    border-color: #ffef00;
}