.navbar-toggler {
    padding: .45rem .75rem;
    font-size: 1.25rem;
    line-height: 0;
    background-color: yellow;
    border: white;
    border-radius: .20rem;
}
#imagem {
width: 100%;

}

#texto {
    position: absolute;
    margin-top: -150px;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    padding: 10px 10px 10px 1i0px;

}
#botao {

    position: absolute;
    margin-top: -5px;
    
    font-size: 20px;

}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}


hr {
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    background-color: white;
    
}